h1 {
    text-align: center;
}

.name{
    font-family: 'Grenze Gotisch', cursive;
    font-size: 40px;
    letter-spacing: 2px;
}

body {
    font-family: 'Dosis', sans-serif!important;
}
.nav-bg{
    background-color: #d2cefd;
    border-radius: 5px;
    margin-top: 15px;
    margin-right: 5px;
    margin-left: 5px;
}

.btn-primary{
    background-color: #6f6bfa!important;
}

li.nav-item:hover {
    background-color:#6f6bfa;
    border-radius: 5px;
}
.nav-link:hover{
    color: #ffffff!important;
    transition: 0.3s;
}
