.first-image {
    position: absolute;
    right:0;
}
.environmental-pic, .analysis-pic, .website-pic {
    height:300px;
    margin-left: 60px;
}

#Home {
    margin-top: 50px;
}

.section-1{
    padding-top: 50px;
    text-align: left;
}

#Whatido {
    text-align: center;
    padding: 10%;
}

.container img {
    width: 20%;
    height: auto;
}


li {
    display: inline-block;
}

.Features-paragraph {
    text-align: left;
}
.name{
    font-family: 'Grenze Gotisch', cursive;
    font-size: 40px;
    letter-spacing: 2px;
}

body {
    font-family: 'Dosis', sans-serif!important;
}

.html-css-js{
    height:100px;
}
.bootstrap {
    height:75px;
}

.python {
    height:70px;
    margin-left:10px;
}
