.my-dp {
    border: 13px solid #6f6bfa;
    border-radius: 50%;
    max-width:20%;
    height:auto;
}

.context{
    text-align: center;
    padding-top: 20px;
}

ul{
    list-style-type: none;
    display: inline-block;
}
li{
    display: inline-block;
}

#linkedin > a{
    color:#0077B5;
}

#github > a{
    color: #24292E
}

#google > a{
    color: #EA4335;
}

.name{
    font-family: 'Grenze Gotisch', cursive;
    font-size: 40px;
    letter-spacing: 2px;
}

body {
    font-family: 'Dosis', sans-serif!important;
}
.second-section {
    height:100px;
    text-align: center;
}

.connect > h1 {
    background-color: rgb(192, 15, 228)!important;
}
.connection{
    display: block;
    margin-left: 400px;
    margin-right: auto;
    width: 80%;
    padding: 30px;
    
}