img {
    height:400px;
    padding:30px;
    margin-left: 20px;
}

.progress-skill{
    width: 500px;
    
}

.bg-linux {
    background-color: #175886!important;
}

.bg-bootstrap {
    background-color: #7952b3!important;
}

.bg-js {
    background-color: #f8dc3d!important;
    color: #000000!important;
}
.name{
    font-family: 'Grenze Gotisch', cursive;
    font-size: 40px;
    letter-spacing: 2px;
}

body {
    font-family: 'Dosis', sans-serif!important;
}

.nav-bg{
    background-color: #d2cefd;
    border-radius: 5px;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
}

li.nav-item:hover {
    background-color:#6f6bfa;
    border-radius: 5px;
}
.nav-link:hover{
    color: #ffffff!important;
    transition: 0.3s;
}
